body {
  margin: 0px;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

.gridContainer {
  display: grid;
  grid-template-rows: 150px 1fr 100px;
}

.header {
  background-color: rgb(86, 171, 143);
  color: white;
  font-size: 50px;
  display: grid;
}

.header > p {
  text-align: center;
  margin: 0px;
  align-self: center;
}

.footer {
  align-self: end;
  justify-self: center;
}

.content {
  padding: 20px;
}

.inputField {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 150px);
  grid-template-rows: 2fr 1fr;
  gap: 15px;
  grid-template-areas:
    "book author pages status"
    "submit submit submit submit"
}

button{
  grid-area: submit;
  justify-self: center;
  background-color: gray;
  border-style: none;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  color: rgb(86, 171, 143);
}
